<div [formGroup]="checkboxes">
    <label>
        <input formControlName="customCell" type="checkbox">
        <span>Custom cell rendering</span>
    </label>
    <label>
        <input formControlName="customHeader" type="checkbox">
        <span>Custom Header rendering</span>
    </label>
    <label>
        <input formControlName="treeTable" type="checkbox">
        <span>Tree table capable</span>
    </label>
    <label>
        <input formControlName="nestedRow" type="checkbox">
        <span>Nested Row capable (working only on id 1)</span>
    </label>
    <label>
        <input formControlName="pagination" type="checkbox">
        <span>Pagination</span>
    </label>
    <label>
        <input formControlName="colPicking" type="checkbox">
        <span>Column Picking</span>
    </label>
    <label>
        <input formControlName="pinnedCol" type="checkbox">
        <span>Pinned columns</span>
    </label>
    <label>
        <input formControlName="overlays" type="checkbox">
        <span>Overlays for no rows</span>
    </label>
    <label>
        <input formControlName="styles" type="checkbox">
        <span>All styles overridable</span>
    </label>
</div>
